.landing__main {
    display: flex;
    width: 100vw;
    height: 100vh;

}

.landing-main__right-section {
    width: 50vw;
    display: flex;
    flex-direction: column;

    .landing-main__right-header {
        background-color: var(--header-color);
        padding-inline: 20px;
    }
}

.landing-main__left-section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-image: url('/images/nicole.jpg');
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;

    .landing-main__left-header {
        padding: 20px;
        display: flex;

        figure {
            width: 40px;
            height: 40px;
            margin: 20px;
        }

        img {
            object-fit: contain;
        }
    }

    h1 {
        display: flex;
        flex-direction: column;
        color: #fff;
    }

    .landing-main__latest-news {
        display: flex;
        padding: 20px;
        margin-inline: 30px;
        background-color: hsla(0, 0%, 100%, 0.2);
        flex-direction: column;
        color: #fff;
        text-align: right;
        align-items: flex-end;

        span {
            font-style: italic;
            font-size: 14px;
            font-weight: 500;
            color: #d1d0d0;
        }

        p {
            color: #dbdbdb;
            line-height: 150%;
            width: 80%;

        }
    }

    .landing-main__footer {

        ul,
        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        a {
            text-decoration: none;
            color: #ffffff;

            &:hover {
                color: var(--link-article-hover)
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 20px;

            li {
                margin-inline: 0.8rem;
            }



        }
    }

}

.article-cards__list {

    container-name: cards-list;
    container-type: inline-size;

    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100vh;
}

.article-card {
    width: 22vw;
    height: 50vh;
    padding: 20px;
    border-width: .8px;
    border-color: var(--article-border-color);
    border-style: solid;

    .article-card__header {
        display: flex;
        flex-direction: column;

    }

    .article-card__tags {
        display: flex;
        align-items: center;
        margin-block-end: 30px;

        span {
            margin-inline-end: 5px;
        }
    }

    .article-card__description {
        display: flex;
        margin-block: 10px;
    }

    .article-card__info {
        display: flex;
        align-items: center;
        font-size: .8rem;

        figure {
            margin-inline-end: 20px;
        }

        span:first-of-type {
            font-weight: 600;
        }

        time {
            color: #929191;
            margin-inline-start: 5px;
        }
    }

    figure {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .article-card__footer {
        display: flex;
        align-items: center;

        a {
            color: var(--link-article-color);
            font-weight: 600;

            &:hover {
                color: var(--link-article-hover)
            }
        }
    }
}



/* @container queries */

@container cards-list (width <= 600px) {
    .article-card {
        width: 95%;
        padding: 10px;
    }
}

/* @media queries */

@media screen and (width < 600px) {
    .landing__main {
        flex-direction: column;
        flex-wrap: unset;
    }

    .landing-main__left-section {
        display: none;
    }

    .landing-main__right-section {
        width: 100vw ;
 
        
    }

    .article-cards__list {
        overflow: hidden;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
}
